# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [2]:
data={}
type(data)

dict

In [4]:
data1=dict()
type(data1)

dict

In [6]:
data={"Alabama" : "Montgomery",
     "Arizona" : "Pheonix",
     "Georgia" : "Atlanta",
     "Kentucky" : "Frankfort",
     "Ohio" : "Salem"}
type(data)
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [9]:
data["Alabama"] #access dictionary values by its key name

'Montgomery'

In [12]:
data["Ohio"]

'Salem'

In [13]:
data["Louisiana"]

KeyError: 'Louisiana'

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [18]:
Days={ 1: "Monday",
         2: "Tuesday",
         4: ("Thursday", "Friday"),
         5: ["Saturday", "Holiday"]}

In [20]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [22]:
Days[4][0]

'Thursday'

In [24]:
Days[5][1]

'Holiday'

In [25]:
Days[2]

'Tuesday'

### Update elements of a dictionary and add new elements

In [26]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [28]:
Days[5][0]="Holiday"
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [30]:
Days[1]="Holiday"
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [32]:
Days[3]="Wednesday"
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [33]:
Days[6]=["XYZ","ABC"]
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday',
 6: ['XYZ', 'ABC']}

### `get` and `update` methods

In [34]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [35]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [37]:
# Acess an element using .get method
data.get("Alabama")

'Montgomery'

In [39]:
data.get("Ohio")

'Salem'

In [40]:
print(data.get("Louisiana"))

None

In [41]:
#Updata a dictionary element
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [43]:
data.update({"Kentucky": "Louisville", 
             "Louisiana": "Baton Rouge"})
data
#dictionary keys cannot be changed

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [44]:
del data["Alabama"]
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [45]:
del data["Ohio"]

In [46]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge'}

In [47]:
data.pop("Arizona")

'Pheonix'

In [48]:
data

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [49]:
data.pop("Kentucky")

'Louisville'

In [50]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [51]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [52]:
len(data)

2

In [53]:
data.keys() #will give the keys from the dictionary

dict_keys(['Georgia', 'Louisiana'])

In [54]:
data.values() #will give you only the values from the dictionary

dict_values(['Atlanta', 'Baton Rouge'])

In [55]:
data.items() #will return key-value pairs from the dictionary

dict_items([('Georgia', 'Atlanta'), ('Louisiana', 'Baton Rouge')])

### Loop through a dictionary

In [56]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [59]:
for key in data.keys():
    print(key)

Georgia
Louisiana

In [61]:
for value in data.values():
    print(value)

Atlanta
Baton Rouge

In [64]:
for item in data.items():
    print(item)
    print(type(item))

('Georgia', 'Atlanta')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>

In [72]:
for state, capitol in data.items():
    print("\n", type(state),type(capitol))
    print(state,capitol)
    print("State name:", state)
    print("Capitol name:", capitol)

 <class 'str'> <class 'str'>
Georgia Atlanta
State name: Georgia
Capitol name: Atlanta

 <class 'str'> <class 'str'>
Louisiana Baton Rouge
State name: Louisiana
Capitol name: Baton Rouge

### Convert dictionary to lists using `list()` function

In [73]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [78]:
State= list(data.keys())
print(State)
print(type(State))

['Georgia', 'Louisiana']
<class 'list'>

In [79]:
Capitol= tuple(data.values())
print(Capitol)
print(type(Capitol))

('Atlanta', 'Baton Rouge')
<class 'tuple'>

### A List in a Dictionary

In [80]:
favorite_languages={"Jen": ["Python", "Ruby"],
                    "Sarah": ["C"],
                    "Edward": ["Ruby", "Java"],
                    "Phil": ["Python", "Haskell"]
        
}
print(favorite_languages)

{'Jen': ['Python', 'Ruby'], 'Sarah': ['C'], 'Edward': ['Ruby', 'Java'], 'Phil': ['Python', 'Haskell']}

In [82]:
favorite_languages["Sarah"]

['C']

In [91]:
for name, languages in favorite_languages.items():
    print('\n' + name.upper()+ " " + "favorite languages are:")
    for i in languages:
        print("\t\t\t"+i.upper())

JEN favorite languages are:
			PYTHON
			RUBY

SARAH favorite languages are:
			C

EDWARD favorite languages are:
			RUBY
			JAVA

PHIL favorite languages are:
			PYTHON
			HASKELL

###  A Dictionary in a Dictionary

In [2]:
users= {
    "eintstein":{
        "first": "albert",
        'last': "einstein",
        'location': "princeton",
    },
    'mcurie' : {
        "first": "marie",
        "last": "curie",
        "location": "paris",
    }
}
print (users)

{'eintstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'}, 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [10]:
for username, user_info in users.items():
    print("Username:", username)
    #print("User info:", user_info)
    full_name=user_info["first"] + " " + user_info["last"]
    location= user_info['location']
    print('\t Full name:', full_name.title())
    print("\t Location :", location.title())

Username: eintstein
	 Full name: Albert Einstein
	 Location : Princeton
Username: mcurie
	 Full name: Marie Curie
	 Location : Paris