# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [4]:
def my_function():
    print("Hello World")
    
my_function()  #calling the function to get the output

Hello World

In [7]:
def my_function2():
    print(8*3)
    
my_function2()

24

### Why we need function?

In [9]:
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [11]:
def address():
    print("2001 Newburg Road")
    
address()
address()
address()
address()
address()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [21]:
def squared(number):
    return(number**2)
squared(3)
squared(125)

15625

In [23]:
def cubed(num):
    return(num**3)
cubed(4)

64

## Our own functions for practice
`Echo` that will act same as print

In [28]:
def echo(message):
    return message
    
echo("Hello how are you")
echo(5)

5

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [40]:
def favorite_book(title):
    return ("One of my favorite books is "+ title)

favorite_book("The Hunger Games")

'One of my favorite books is The Hunger Games'

In [38]:
def favorite_book1(title):
    print(title + " is one of my favorite books")

favorite_book1("The Hunger Games")

The Hunger Games is one of my favorite books

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [43]:
def calc_MPG(miles_driven, gallons_used):
    return(miles_driven/gallons_used)

15.0

In [45]:
calc_MPG(100,3.333)

30.003000300030003

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [2]:
def MPG(miles_driven =200, gallon_used =12):
    gallon_used=11
    return (miles_driven/gallon_used)

In [60]:
MPG(miles_driven=400)

36.36363636363637

In [5]:
MPG(400)

36.36363636363637

###  Function repeat using `for` loop

In [65]:
def repeat_echo(data,count):
    for i in range(count):
        print(data)

In [66]:
repeat_echo("2001 Newburg Road", 5)

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [67]:
def name(name,count):
    print((name+ "\n")*count)
    
name("nathan", 20)

nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan
nathan

## Practice: Define a function called `name` and print your name 20 times using the function

78

### Write a function to find maximum of three values

In [ ]:
max(23,56,78)

In [11]:
def maximum(a,b,c):
    if a> b and a>c:
        largest=a
    elif (b>c and b>a):
        largest=b
    else:
        largest=c
    return largest

In [10]:
maximum(23,46,77)

77

In [12]:
maximum(45,23,15)

45

In [13]:
maximum(23,3,88
       )

88

### Practice Example: Define `minimum` function of three values

In [24]:
def minimum(a,b,c):
    if a< b and a<c:
        smallest=a
    elif (b<c and b<a):
        smallest=b
    else:
        smallest=c
    return smallest

In [16]:
minimum(1,2,3)

1

In [22]:
minimum(2,3,1)

1

In [25]:
minimum(3,1,4)

1

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [29]:
def addition(*args):
    return sum(args)
#allows you to use as many parameters as you want

In [31]:
addition(10,20,45,16,67)

158

In [33]:
#Mean/Average of numbers
def get_mean(*args):
    return sum(args)/len(args)

In [35]:
get_mean(3,4,5,25,46)

16.6

In [38]:
get_mean(1,2,3,4,5,6,7,8,9,10,)

6.0

### Arbitary Argumented list with list

In [40]:
numbers=[34,56,78,99]
get_mean(*numbers)
#the star puts the numbers in a list in a tuple and that can be used in the function

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [44]:
x=10 #global variable

def scope_of_function(num):
    return num*2 #num is a local variable
scope_of_function(20)

10

In [45]:
x

10

In [46]:
num
#is not defined outside of the 'scope_of_function' function

NameError: name 'num' is not defined

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [48]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)

In [52]:
try_to_modify_global()
print(x)

3.5
None
10

In [56]:
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()

3.5

In [57]:
x

3.5

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

## Write functions to find out Area and Perimeter of circle

In [58]:
from math import pi

3.141592653589793

In [69]:
def area_circle(r):
    return pi*(r**2)

def peri_circle(r):
    return 2*pi*r

radius=int(input("Enter the value of radius: "))
print("The area of the circle is", (area_circle(radius)))
print("The perimeter of the circle is", (peri_circle(radius)))

Enter the value of radius: 10
The area of the circle is 314.1592653589793
The perimeter of the circle is 62.83185307179586

18.84955592153876

## Write functions to find out Area and Perimeter of rectangle

In [76]:
def area_rectangle(h,w):
    return h*w

def peri_rectangle(h,w):
    return 2*(h+w)

height= int(input("Enter the height of the rectangle: "))
width= int(input("Enter the width of the rectangle: "))

print("\nThe area of the rectangle is", area_rectangle(height,width))
print("The perimeter of the rectangle is", peri_rectangle(height,width))
    
if height==width:
    print("The rectangle is also a square")

Enter the height of the rectangle: 34
Enter the width of the rectangle: 34

The area of the rectangle is 1156
The perimeter of the rectangle is 136
The rectangle is also a square

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [152]:
import random

x=random.randrange(10,20)
x

17

In [169]:
#filling an empty list with random numbers
List=[]
for i in range(10): # 10 entries to the list
    x=random.randrange(1,20) #numbers will be in between 1 to 19 (included)
    List.append(x)
        
print(List)

[1, 3, 14, 13, 17, 17, 7, 18, 11, 10]

## Create a list of 20 numbers in the range of 30 to 50

In [173]:
List=[]
for i in range(20):
    x=random.randrange(30,51)
    List.append(x)
    
print(List)
len(List)

[36, 50, 42, 39, 45, 45, 30, 42, 35, 33, 37, 47, 32, 44, 49, 48, 50, 33, 39, 36]

20

### Guess the number between 1 to 10

In [ ]:
import random

number=random.randint(1,10) #for randint, 10 is included but randrange 10 would not be included
entered_number=30
time=1

while entered_number!=number:
    entered_number=int(input("Enter a number between 1 to 10: "))
    
    if entered_number== number:
        print("You won.", "You took", time, "chances")
    else:
        print("Try again")
        time+=1

Enter a number between 1 to 10: 1
Try again
Enter a number between 1 to 10: 2
Try again
Enter a number between 1 to 10: 3
Try again
Enter a number between 1 to 10: 4
Try again
Enter a number between 1 to 10: 5
Try again