## Practice Questions Dictionary and List

### List reverse

In [3]:
Lista=[34,67,45,23,12,43]

Lista[::-1]

[43, 12, 23, 45, 67, 34]

### Convert the lists to dictionary
* keys = ['Ten', 'Twenty', 'Thirty']
* values = [10, 20, 30]

In [8]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict(zip(keys,values)) 
#this is the answer

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [9]:
list(zip(keys,values))

[('Ten', 10), ('Twenty', 20), ('Thirty', 30)]

In [7]:
tuple(zip(keys,values))

(('Ten', 10), ('Twenty', 20), ('Thirty', 30))

### Marge the following two dictionaries and keep the original dictionaries as it is
* dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
* dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [11]:
dict2=dict0.copy()

In [13]:
print(dict2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [14]:
dict2.update(dict1)
print(dict2)
#did not include duplicate key-value pair

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Access 70 from dictionary
 * Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}

In [17]:
Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}

In [23]:
print(Dict3["class"]['student']["subject"]["physics"])

70

 Dict4 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}
 * Extract keys = ["name", "city"]
 * Expecte output: {'name': 'Mark', 'city': 'Atlanta'}

In [24]:
Dict4 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
keys=["name", "city"]
for K in keys:
    print({K:Dict4[K]})

{'name': 'Mark'}
{'city': 'Atlanta'}

### Dict7 = {'a': 100, 'b': 200, 'c': 300}
 * Check if value 200 is present or not

In [25]:
Dict7 = {'a': 100, 'b': 200, 'c': 300}

In [26]:
for I in Dict7.values():
    if I == 200:
        print("200 is included")

200 is included

In [28]:
print(200 in Dict7.values())

True

In [30]:
print(400 in Dict7.values())

False

True

### check the key 'c' is present in the dict or not

In [32]:
print("c" in Dict7.keys())

True

###  Update Bradâ€™s salary to 7500 
* sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 5500},
     'emp2': {'name': 'Emma', 'salary': 7000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [35]:
sampleDict = { 'emp1': {'name': 'Jhon', 'salary': 5500},
              'emp2': {'name': 'Emma', 'salary': 7000},
              'emp3': {'name': 'Brad', 'salary': 6500} }
sampleDict["emp3"]["salary"]= 7500
print(sampleDict["emp3"]["salary"])

7500

### Find who is younger
Dict9 = {
  'Sam': 82,
  'Harry': 65,
  'Jack': 75
}

In [38]:
Dict9 = { 'Sam': 82, 'Harry': 65, 'Jack': 75 }

In [40]:
temp=(min(Dict9.values()))
print(temp)

65

In [42]:
for key in Dict9.keys():
    if Dict9[key]==temp:
        print(key)

Harry

In [44]:
Temp=max(Dict9.values())
print(Temp)

82

In [45]:
for key in Dict9.keys():
    if Dict9[key]== Temp:
        print(key)

Sam

### Update **city to location**
 Dict10 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}

In [53]:
Dict10 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
Dict10["location"]= Dict10.pop("city")
print(Dict10)

{'name': 'Mark', 'age': 21, 'College': 'Junior', 'location': 'Atlanta'}